# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/
venv/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3

# VSCode / PyCharm / macOS system files
.vscode/
.idea/
.DS_Store

# Environment variables / secrets
.env